<div id="alerts_config">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Kea Alert Threshold Settings
                    </h2>
                </div>
                <div class="body">
                    [c_content]
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Alerts Notification Settings
                    </h2>
                </div>
                <div class="body">
                    [n_content]
                </div>
            </div>
        </div>
    </div>

    <div id="anterius_alerts_result"></div>
</div>
<div class="row" align="center" style="margin-bottom: 5%; margin-top:-5%;">
    [save_button]
</div>
<script type="text/javascript">
    function save_alarm_settings() {
        'use strict';
        anterius_alert_settings = get_form_query_string("alerts_config");

        $.post("/anterius_alert_settings_save", anterius_alert_settings, function (data) {
            $("#anterius_alerts_result").html(data);
        });
    }
</script>