<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Kea-Anterius Settings
                </h2>
            </div>
            <div class="body">
                [body_content]
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    Kea Server Host Machine Configurations
                                    <button style="float: right; margin-top:-1%; margin-right:1%;" id="svr-add-btn" type="button" class="btn btn-info waves-effect ant-btn" onclick="add_server_host([svr_hosts_len])">
                                        <i class="material-icons">add</i>
                                    </button>
                                </h2>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table id="server-hosts-table" class="table table-bordered table-striped table-hover js-basic-example dataTable dashboard-task-infos">
                                        <thead>
                                            <tr>
                                                <!-- <th>Current</th> -->
                                                <th>Hostname</th>
                                                <th>Server CA Address</th>
                                                <th>Server CA Port</th>
                                                <th width="10%">Edit / Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            [server_host_list]
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" align="center">
                    <button type="button" class="btn btn-info waves-effect ant-btn" id="ant-set-btn" onclick="save_config()">
                        <i class="material-icons">settings</i>
                        <span>Save Anteris Settings</span>
                    </button>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    'use strict';

    $(document).ready(function () {
        $(this).scrollTop(0);
    });

    var server_hosts_table;
    $(document).ready(function () {

        server_hosts_table = $('#server-hosts-table').DataTable({
            dom: 'tip',
            responsive: true,
            "pageLength": 100,
            "aaSorting": []
        });

        $('#server-hosts-table').fadeOut(100).fadeIn(100);
    });

    /* Method to add a server host */
    function add_server_host(index) {

        var table_row = '<tr>' +
            // '<td><input type="radio" name="svrhost" id="r' + index + '" value="' + index + '" class="with-gap"/></td>'+
            '<td><input type="input" name="hostname" id="hostname" placeholder="Enter server hostname" class="form-control"/></td>' +
            '<td><input type="input" name="svr_addr" id="svr_addr" placeholder="Enter Host IP address" class="form-control"/></td>' +
            '<td><input type="input" name="svr_port" id="svr_port" placeholder="Enter Host machine port" class="form-control"/></td>' +
            '<td><button type="button" class="btn waves-effect" id="sb' + index + '" onclick="save_server_host(\'' + index + '\')">' +
            '<i class="material-icons">save</i></button>' +
            '<button type="button" style="margin-left: 1%" class="btn waves-effect" id="db' + index + '" onclick="delete_server_host(\'' + index + '\')">' +
            '<i class="material-icons">delete</i></button></td></tr>';

        server_hosts_table.rows.add($(table_row)).draw(); // Add new datax
    }
</script>