<div class="row clearfix">
    <div class="col-lg-3 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect" style="overflow: visible">
            <div class="icon bg-deep-blue col-sm-4">
                <i class="material-icons">dvr</i>
            </div>
            <div class="content col-sm-8">
                <div class="input-field">
                    <label class="text">Server Hostname</label>
                    <select class="bootsrap-select" id="svr-host-select" style="font-size:12px; margin-top: 50px;">
                        Loading..
                        [svr_host_list]
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-deep-blue">
                <i class="material-icons">settings_power</i>
            </div>
            <div class="content">
                <div class="text">Kea Server Status</div>
                <form id="run-status" action="/anterius_settings_save" method="POST">
                    Loading..
                    [run_status]
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-deep-blue">
                <i class="material-icons">new_releases</i>
            </div>
            <div class="content">
                <div class="text">Leases Per Second / Minute</div>
                <div class="number" id="leases-sec">[leases_ps] / [leases_pm]</div>
            </div>
        </div>

    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-deep-blue">
                <i class="material-icons">insert_chart</i>
            </div>
            <div class="content">
                <div class="text">Total Active Leases</div>
                <div class="number" id="total-active">[total_active_leases]</div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-deep-blue">
                <i class="material-icons">devices</i>
            </div>
            <div class="content">
                <div class="text">CPU</div>
                <div class="number" id="cpu-utilization">[cpu_utilzn]</div>
            </div>
        </div>
    </div>
</div>
<div id="anterius_settings_result"></div>