<div class="card">
    <div class="header">
        <h2>
            [title]
        </h2>
    </div>
    <ul class="nav nav-tabs" role="tablist" id="config-tab">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab" aria-controls="fields" aria-selected="false" href="#fields">Config Fields</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="file" aria-selected="true" href="#file">Config File</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="file" class="tab-pane active" role="tabpanel" aria-labelledby="file">

            <div class="body">
                <!-- [c_content] -->
                <form id="dhcp_config_form">
                    <label>DHCP Config</label>
                    <!-- <div class="form-group">
                            <div class="form-line">
                                <input disabled type="text" id="dhcp_config_location" class="form-control" value="[dhcp_config_location]">
                            </div>
                        </div> -->

                    <div id="dhcp_config" style="width:100%; height:800px; color: #95cd24">[dhcp_config_content]</div>

                    <br>

                </form>

                <div id="dhcp_config_result"></div>

            </div>
        </div>
        <div id="fields" class="tab-pane" role="tabpanel" aria-labelledby="fields">
            [config_fields]
        </div>
    </div>
    <div class="row" align="center">
        <button type="button" class="btn btn-info waves-effect ant-btn" style="margin-bottom: 2%;" onclick="save_dhcp_config()">
            <i class="material-icons">system_update_alt</i>
            <span>Update Config</span>
        </button>
    </div>
</div>
<script>
    $('#config-tab a').on('click', function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
</script>
<script src="assets/js/ace_editor/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="assets/js/ace_editor/theme-terminal.js" type="text/javascript" charset="utf-8"></script>
<script src="assets/js/anterius-pages/config-update.js" type="text/javascript" charset="utf-8"></script>