<div class="card">
    <!-- <div class="header">
        <h2>
            [title]
        </h2>
    </div> -->
    <div class="body">
        <ul class="nav nav-tabs nav-justified" role="tablist" id="config-tab">
            <li class="nav-item [form_focus]">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="fields" aria-selected="[form_selected]" href="#fields">Config Parameters Form Editor</a>
            </li>
            <li class="nav-item [file_focus]">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="file" aria-selected="[file_selected]" href="#file">Config File Editor</a>
            </li>
        </ul>
        <div class="tab-content" style="margin-bottom: -5%;">
            <div id="file" class="tab-pane [file_focus]" role="tabpanel" aria-labelledby="file">

                <!-- [c_content] -->
                <form id="dhcp_config_form">
                    <label>DHCPv4 Config</label>
                    <!-- <div class="form-group">
                            <div class="form-line">
                                <input disabled type="text" id="dhcp_config_location" class="form-control" value="[dhcp_config_location]">
                            </div>
                        </div> -->

                    <div id="dhcp_config" style="width:100%; height:800px; color: #95cd24">[dhcp_config_content]</div>

                    <br>

                </form>
            </div>
            <div id="fields" class="tab-pane [form_focus]" role="tabpanel" aria-labelledby="fields">
                <div class="header">
                    <h4>
                        [edit_title]
                    </h4>
                </div>
                <br> [config_form]
            </div>
        </div>
        <hr>
        <div class="row" align="center">
            <button id="test_btn" type="button" class="btn btn-info waves-effect ant-btn" disabled style="margin-bottom: 2%; width: 20%;" onclick="test_dhcp_config()">
                <i class="material-icons">system_update_alt</i>
                <span>Test Config</span>
            </button>
            <span style="margin-left:5%; margin-right:5%"></span>
            <button id="update_btn" type="button" class="btn btn-info waves-effect ant-btn" disabled style="margin-bottom: 2%;  width: 20%;" onclick="save_dhcp_config()">
                <i class="material-icons">system_update_alt</i>
                <span>Update Config</span>
            </button>
        </div>
    </div>

</div>
<script>

    $('#config-tab a').on('click', function (e) {
        e.preventDefault();
        if ($(this).parent('li').hasClass('disabled')) {
            return false;
        }; $(this).tab('show');
    });

    $('input').change(function() { 
        document.getElementById("gen_btn").disabled = false;
   }); 

</script>
<script src="assets/js/ace_editor/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="assets/js/ace_editor/theme-terminal.js" type="text/javascript" charset="utf-8"></script>
<script src="assets/js/anterius-pages/config-update.js" type="text/javascript" charset="utf-8"></script>