<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 style="font-size: 150%;">
                    <b> [title] </b>
                </h2>
                <button type="button" id="edit_btn" class="btn btn-info waves-effect ant-btn" onclick="edit_params(0)">
                    <i class="material-icons">edit</i>
                    <span>Edit Configuration</span>
                </button>
            </div>
            <div style="margin-top: 1%; ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="progress" style="margin: 5px;">
                        [utilzn_bar]
                    </div>
                </div>
            </div>
            <hr>
            <div class="body" style="margin-top: 2%;">
                <div class="row clearfix">
                    <div class="col-lg-2-5 col-md-2 col-sm-6 col-xs-12">
                        <div class="info-box hover-zoom-effect">
                            <div class="icon bg-deep-blue">
                                <i class="material-icons">data_usage</i>
                            </div>
                            <div class="content">
                                <div class="text">Utilization</div>
                                <div class="number" id="avail-leases">[utilizn]%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2-5 col-md-2 col-sm-6 col-xs-12">
                        <div class="info-box hover-zoom-effect">
                            <div class="icon bg-deep-blue">
                                <i class="material-icons">all_out</i>
                            </div>
                            <div class="content">
                                <div class="text">Total Leases</div>
                                <div class="number" id="total-leases">[total_addr]</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2-5 col-md-2 col-sm-6 col-xs-12">
                        <div class="info-box hover-zoom-effect">
                            <div class="icon bg-deep-blue">
                                <i class="material-icons">supervisor_account</i>
                            </div>
                            <div class="content">
                                <div class="text">Assigned Leases</div>
                                <div class="number" id="assgn-leases">[assgn_addr]</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2-5 col-md-2 col-sm-6 col-xs-12">
                        <div class="info-box hover-zoom-effect">
                            <div class="icon bg-deep-blue">
                                <i class="material-icons">low_priority</i>
                            </div>
                            <div class="content">
                                <div class="text">Available Leases</div>
                                <div class="number" id="avail-leases">[free_addr]</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2-5 col-md-2 col-sm-6 col-xs-12">
                        <div class="info-box hover-zoom-effect">
                            <div class="icon bg-deep-blue">
                                <i class="material-icons">list</i>
                            </div>
                            <div class="content">
                                <div class="text">IP Range [Pools]</div>
                                <div class="number" id="pools" style="font-size: 12px">[pools]</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    [subnet_table]
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Host Reservations
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table id="host-res-table" class="table table-bordered table-striped table-hover js-basic-example dataTable dashboard-task-infos">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>IP Address</th>
                                <th>Server Hostname</th>
                                <th>Hostname</th>
                                <th>Client ID</th>
                                <th>Next Server</th>
                                <th>Hardware Addr [MAC]</th>
                                <th width="1%">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            [host_res_table]
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Lease Information
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table id="leases-table" class="table table-bordered table-striped table-hover js-basic-example dataTable dashboard-task-infos">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>Lease IP Addr</th>
                                <th>Hardware Address [Client-ID]</th>
                                <th>Valid Lifetime</th>
                                <th>Device hostname</th>
                                <th>Username</th>
                                <!-- <th style="width:100px">Utilization</th> -->
                                <th width="1%">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            [leases_data_table]
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    $(document).ready(function () {
        $(this).scrollTop(0);
        subnet_table = $('#sharednw-subnet-table').DataTable({
            dom: 'tip',
            responsive: true,
            "pageLength": 100,
            "aaSorting": []
        });

        host_res_table = $('#host-res-table').DataTable({
            dom: 'tip',
            responsive: true,
            "pageLength": 100,
            "aaSorting": []
        });

        leases_data_table = $('#leases-table').DataTable({
            dom: 'tip',
            responsive: true,
            "pageLength": 100,
            "aaSorting": []
        });

        $('#leases-table').fadeOut(100).fadeIn(100);
        $('#host-res-table').fadeOut(100).fadeIn(100);
        $('#subnets').fadeOut(100).fadeIn(100);
    });

</script>