<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card">
        <div class="header">
            <h2>Shared Networks</h2>
            <button style="float: right; margin-top:-4%; margin-right:1%;" type="button" class="btn waves-effect" onclick="edit_params('add_sharednw')">
                <i class="material-icons">add</i>
            </button>
        </div>
        <div class="body">
            <div class="table-responsive">

                <table id="shared-networks" class="table table-bordered table-striped table-hover js-basic-example dataTable dashboard-task-infos">
                    <thead>
                        <tr>
                            <th>Shared N/W Name</th>
                            <th>Total Active</th>
                            <th>Size</th>
                            <th>Free</th>
                            <th style="width:150px">Utilization</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>