<div class="[table_dim]">
    <div class="card">
        <div class="header">
            <button style="float: right; margin-top:-1%; margin-right:1%;" type="button" class="btn waves-effect" onclick="edit_params('add_sharednw')">
                <i class="material-icons">add</i>
            </button>
            <h2>[title]</h2>
        </div>
        <div class="body">
            <div class="table-responsive">
                <table id="[table_id]" class="table table-bordered table-striped table-hover js-basic-example dataTable dashboard-task-infos">
                    <thead>
                        <tr>
                            <th>Shared N/W Name</th>
                            <th>Total Active</th>
                            <th>Size</th>
                            <th>Free</th>
                            <th style="width:150px">Utilization</th>
                        </tr>
                    </thead>
                    <tbody>
                        [table_content]
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>