<div class="[table_dim]">
    <div class="card">
        <div class="header">
            <h2>[title]</h2>
        </div>
        <div class="body">
            <div class="table-responsive">
                <table id="[table_id]" class="table table-bordered table-striped table-hover js-basic-example dataTable dashboard-task-infos">
                    <thead>
                        <tr>
                            <th style="width:fit-content">ID</th>
                            <th>Subnet</th>
                            <th>IP Range (Pools)</th>
                            <th>Total Active</th>
                            <th>Size</th>
                            <th>Free</th>
                            <th style="width:150px">Utilization</th>
                        </tr>
                    </thead>
                    <tbody>
                        [table_content]
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>