body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#nav_menu_ico {
  color: aliceblue;
  margin-left: -10px;
  margin-top: 3px;
  cursor: pointer;
}

#nav_title {
  font-size: 20px;
  float: right;
  margin-left: 5px;
}

#ref_btn {
  float: right;
  margin: 15px;
}
#edit_btn {
  float: right;
  font-size: 12px;  
  margin-top: -30px;
}

.ant-btn {
  font-size: 15px;
  color: aliceblue;
  background-color: #640000;
}