body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#nav_menu_ico {
  color: aliceblue;
  margin-left: -10px;
  margin-top: 3px;
  cursor: pointer;
}

#nav_title {
  font-size: 20px;
  float: right;
  margin-left: 5px;
}

#ref_btn {
  float: right;
  margin: 15px;
}

#edit_btn {
  float: right;
  font-size: 12px;
  margin-top: -30px;
}

.progress {
  position: relative;
  height: 15px !important;
  vertical-align: middle;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
  font-size: 10px;
  text-align: center;
}

.ant-btn {
  font-size: 15px;
  color: aliceblue;
  background-color: #640000;
}

.editMarker {
  position: absolute;
  background: rgba(100, 200, 100, 0.5);
  z-index: 20
}

#top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}